/**
cissefousseni
style.css

 **/


.parallax {
    background-image: url("../images/982e1e0e40f7ff046e9eeaf9e7747abc.jpg");
    min-height: 50rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



@font-face {
    font-family: maPolice;
    src: url(/examenfinal/font/jacob_and_son);

}
body {
    font-family: maPolice;
    font-size: 24px;
}